@import 'https://fonts.googleapis.com/css?family=Dancing+Script:300,400';


    html {
        font-size:10px;
        min-width: 360px;
    }
    body {
        margin:0;
        background-image: linear-gradient(170deg, #ffffff 1%, #5f4d93);
    }
    div.wrapper {
        padding: 0;
        height: 100%;
        width: 96%;
        margin-left: 3em;
        margin-right: 3em ;
    }


    /*header*/
    header.title {
        width: 20em;
        height: 8em;
        padding: 3em 1em 1em 1em;
        text-align: center;
    }
    header.title h1{
        font-family:'Dancing Script', cursive;
        margin-bottom: 0.3em;
        text-shadow: 0.2em 0.2em  #dddddd;
    }
    header.title p{
        font-family: 'Courier New', Courier, monospace;
    }
    .title a {
        text-decoration: none;
        color: grey;
        height: 1em
    }

    .title{
    font-size: 1.5em;
    }


    /*nav*/
    nav ul{
        list-style: none;
        font-size: 1.4em;
        margin: 0.5em 0.5em 2em;
        padding-right: 3em;
        text-align: center;
        background-color: rgb(233, 233, 233);
        height: 2.7em;
    }
        nav ul li {
        display: inline-block;
        margin-left: 0.5em;
        margin-right: 0.5em;
        padding: 0.7em;
    }
    nav a{
        text-decoration: none;
        color: grey;
    }
    nav ul li:hover {
        background-color: white;
        transition-duration: 0.4s;
    }
    


    /*Main*/
    .boxes-container ul {
        list-style: none;
        padding:0;
    }
    .boxes-container ul li img {
        width: 20em;
        height: 20em;
        border-radius: 100%;
        padding: 1em;
        border: 1px solid white;
    }
    .boxes-container ul li {
        text-align: center;
        margin-bottom: 10em;
    }

    /*footer*/
    footer ul{
        font-size: 2em;
        list-style: none;
        text-decoration: none;
        text-align: center;
        height: 2.3em;
        margin: 0.5em;
        padding: 0;
        border: 1px solid white;
        border-radius: 10px;

    }
    footer ul li {
        display: inline-block;
        margin-top: 0.29em;
    }
    footer ul li a {
        border-radius: 100%;
        margin-left: 0.5em;
        margin-right: 0.5em;
        color:white;
        text-decoration: none;
    }
    footer ul li a::before{
        border-radius: 100%;
        display: block;
        padding: 0.3em;
        border: 1px white;
        width: 1em;
        height: 1em;
        border: 1px solid rgb(216, 216, 216);
        border-radius: 100%;
        line-height: 1em;
}

/*Pc*/
@media screen and (min-width: 640px) {
nav{
    display:none;
}
header.title{
    width: 90%;
    margin:0;
    display: block;
}
div.logo{
    text-align: left;
    width: 20em;
    margin:0;
}

}



